<div class="card h-100 shadow-sm" *ngIf="product">
  <img
    src="{{ product.pictureUrl }}"
    alt="{{ product.productName }}"
    class="img-fluid bg-info"
  />
  <div class="card-body d-flex flex-column">
    <a href="" class="text-decoration-none">
      <h6 class="text-uppercase">
        {{ product.productName }}
      </h6>
    </a>
    <span class="mb-2">{{ product.productPrice | currency }}</span>

    <div class="btn-group mt-auto">
      <button
        class="btn btn-outline-secondary fa fa-shopping-cart me-2"
      ></button>
      <button class="btn btn-outline-secondary py-0">Zobrazit</button>
    </div>
  </div>
</div>
