<header class="d-flex flex-md-row align-items-center justify-content-between p-3 px-4 mb-3
  bg-white border-bottom shadow-sm">
  <img src="/assets/images/logo.svg" alt="logo" style="max-height: 50px;">
      <nav class="my-2 navbar navbar-expand-md mb-4">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="p-2 text-dark text-decoration-none" href="#">Domů</a></li>
            <li class="nav-item"><a class="p-2 text-dark text-decoration-none" href="#">Garážová vrata</a></li>
            <li class="nav-item"><a class="p-2 text-dark text-decoration-none" href="#">Pohony pro vrata a brány</a></li>
            <li class="nav-item"><a class="p-2 text-dark text-decoration-none" href="#">Jednotky, přijímače, ovladače</a></li>
            <li class="nav-item"><a class="p-2 text-dark text-decoration-none" href="#">Chytrá domácnost</a></li>
          </ul>
        </div>
      </nav>
      <div class="d-flex align-items-center">
        <a class="position-relative">
          <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
          <div class="cart-no">5</div>
        </a>
        <a href="" class="btn btn-outline-secondary me-2">Login</a>
        <a href="" class="btn btn-outline-secondary me-3">Registrace</a>
      </div>
  </header>
